body {
    margin: 0;
    font-family: "Poppins", sans-serif;

    background: linear-gradient(180deg, #a8dee7, #0077b6, #03045e);

    color: #ffffff;

    overflow-x: hidden;
}


h1 {
    text-align: center;
    font-size: 42px;
    margin-top: 40px;
    letter-spacing: 2px;
}

p {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 30px auto;

    font-size: 18px;
    line-height: 1.6;
}


.gallery {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 25px;

    padding: 30px;
}



.card {
    background: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(15px);

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 8px 25px rgba(0,0,0,0.3);

    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
}



.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.card h3 {
    margin: 12px;
    color: #00e5ff;
}

.card p {
    margin: 12px;
    line-height: 1.5;
    font-size: 15px;
}



a {
    display: block;

    width: fit-content;

    margin: 40px auto;

    padding: 14px 24px;

    background: linear-gradient(90deg, #0077b6, #00b4d8);

    color: white;

    text-decoration: none;

    border-radius: 12px;

    font-weight: bold;

    box-shadow: 0 8px 20px rgba(0,0,0,0.4);

    transition: 0.4s;
}

a:hover {
    transform: translateY(-6px) scale(1.05);

    background: linear-gradient(90deg, #023e8a, #0096c7);
}



@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}
